{% extends "layout.html" %}
{% block title %}Sign Up{% endblock title %}
{% block head %}{% endblock head %}


{% block body %}

<!-- ====== Forms Section Start -->
<section class=" bg-transparent lg:py-[120px]">
   <div class="container mx-auto">
      <div class="flex flex-wrap -mx-4">
         <div class="w-full px-4">
            <div
               class="relative mx-auto max-w-[525px] overflow-hidden rounded-lg bg-transparent  py-16 px-10 text-center sm:px-12 md:px-[60px]">
              
               <form action="#" method="POST">
                  {{ form.hidden_tag() }}

                <div class="mb-6">
                     {{form.name(type="name", id="name", class="w-full px-5 py-3 text-base bg-transparent border rounded-md outline-none border-stroke text-body-color  focus:border-primary focus-visible:shadow-none", placeholder="Name",)}}
                </div>

                  <div class="mb-6">
                     {{form.email(type="email",id="email",class="w-full px-5 py-3 text-base bg-transparent border rounded-md outline-none border-stroke text-body-color  focus:border-primary focus-visible:shadow-none",placeholder="Email")}}
                  </div>
                  
                  <div class="mb-6">
                       {{form.password(type="password", id="password", placeholder="Password",  class="w-full px-5 py-3 text-base bg-transparent border rounded-md outline-none border-stroke text-body-color  focus:border-primary focus-visible:shadow-none")}}
                  </div>
                  <div class="mb-6">
                     {{form.confirmPassword( type="password", id="confirm-password" ,
                     placeholder="Confirm Password", class="w-full px-5 py-3 text-base bg-transparent border rounded-md outline-none border-stroke text-body-color  focus:border-primary focus-visible:shadow-none")}}
               </div>
                  <div class="mb-10">
                     {{form.submit(type="submit", class="w-full px-5 py-3 text-base font-medium text-black transition border rounded-md cursor-pointer border-primary bg-purple-100 hover:bg-opacity-90")}}
    
                  </div>
               </form>

               <a href="javascript:void(0)" class="inline-block mb-2 text-base  hover:text-primary hover:underline">
                  Forget Password?
               </a>
               <p class="text-base text-body-color">
                  <span class="pr-0.5">Already a member ?</span>
                  <a href="{{url_for('login')}}" class="text-primary hover:underline">
                    Login
                  </a>
               </p>
               <div>


               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- ====== Forms Section End -->


{% endblock body %}
{% block scripts %}{% endblock scripts %}